
body{
  background-color: rgb(1, 59, 146);
  margin: 5px;
}
p{
  color:rgb(191, 191, 191);
}

footer{
  text-align: center;
  padding-top: 5px;
  border-top: 3px solid rgb(255, 255, 255);
  color: black;
}

img{
  height: 200px;
  width: 200px;
  justify-self: center;
}
p{
  display: block;
  color: purple;
  padding-left: 6px;
}
#id{
  display: inline;
}
header{
  text-align: center;
}
article{
  color: rgb(11, 137, 195);
}

#beastDiv{
  display: flex;
  flex-wrap: wrap;
}
.modal-90w { width: 90% !important; }

 .modal-90w{
color: purple
}
.par{
  color: black;
  padding-left: 15px;
}
